.assessment-header {
    background: #00afbc;
    margin-bottom: 0%;
}

.assessment-toolbar {
    background: #00afbc;
    width: fit-content;
    margin: auto;
}

.assessment-title {
    color: white;
}

.question {
    height: 100%;
    // background-color: aquamarine;
    overflow: scroll;
}